<div class="row px-4">
  <div class="col-12 bg-white rounded-top p-y-15 border-bottom">
    <div class="row align-items-center">
      <div class="col-6">
        <p class="m-0 fw-bold">All Plan List</p>
      </div>
      <div class="col-6 text-end">
        <button
          mat-flat-button
          (click)="navigateTo('/dashboard/plan-form', null)"
        >
          <span class="iconify routeIcon" matListItemIcon data-icon="solar:add-circle-line-duotone"></span> Plan
        </button>
      </div>
    </div>
  </div>
  <div class="col-12 p-0">
    <table class="table table-hover bg-light mb-0">
     
      <thead>
        <tr>
          <th>Sr No.</th>
          <th>Plan Name</th>
          <th>Plan Type</th>
          <th>Credits</th>
          <th>Cost</th>
          <th>Status</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="
            let item of blogs
              | paginate : { itemsPerPage: pageSize, currentPage: page };
            let i = index
          "
        >
          <td class="text-center">{{ pageSize * (page - 1) + (i + 1) }}</td>
          <td>{{ item?.planName }}</td>
          <td>{{ item?.planType }}</td>
          <td>{{ item?.credits }}</td>
          <td>{{ item?.cost }}</td>
          <td>{{ item?.status }}</td>

          <td>
            <div class="example-button-container">
              <button
                mat-fab
                class="mx-3 action-btn"
                (click)="navigateTo('/dashboard/plan-form', item?._id)"
              >
                <span
                  class="iconify routeIcon"
                  matListItemIcon
                  [attr.data-icon]="'solar:pen-2-broken'"
                ></span>
              </button>
              <button
                mat-fab
                class="action-btn"
                (click)="deletePlan(item?._id)"
              >
                <span
                  class="iconify routeIcon"
                  matListItemIcon
                  [attr.data-icon]="'solar:trash-bin-minimalistic-2-broken'"
                ></span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-12 bg-white rounded-top p-y-15 border-bottom">
    <div class="row align-items-center justify-content-end">
      <div class="col-6 text-end">
        <pagination-controls (pageChange)="page = $event"></pagination-controls>
      </div>
    </div>
  </div>
</div>
