<div class="generalmodalHeader">
  <p>Confirmation</p>
  <button
    (click)="hide()"
    type="button"
    class="close button-style purple-button"
    data-dismiss="modal"
    aria-label="Close"
  >
    <span class="material-symbols-outlined"> close </span>
  </button>
</div>

<div class="generalmodalBody">
  <div class="warningIcon">
    <span class="material-symbols-outlined">warning</span>
  </div>
  <p>{{ info?.info }}</p>
</div>

<div class="generalmodalFooter">
  <button
    type="button"
    class="d-flex align-items-center button-style purple-button me-2"
    (click)="yes()"
  >
    <span class="material-symbols-outlined mr-2">done</span>Yes
  </button>
  <button
    type="button"
    class="d-flex align-items-center button-style red-button"
    (click)="no()"
    data-dismiss="modal"
  >
    <span class="material-symbols-outlined mr-2">close</span>No
  </button>
</div>
