<div class="row px-4">
  <div class="col-12 bg-white rounded-top p-y-15 border-bottom">  
        <p class="m-0 fw-bold">All Batch List</p>
    <div class="row mt-3">
      <div class="col-6 text-start mb-2">
        <input
          type="text"
          class="form-control w-75 ms-1"
          placeholder="Search"
          [(ngModel)]="searchText"
          (ngModelChange)="onSearchInputChange($event)"
        />
      </div>

      <div class="col-6 text-end">
        <button mat-flat-button class="px-3 add" (click)="navigateTo('/dashboard/batch-form', null)">
          <span class="iconify routeIcon" matListItemIcon data-icon="solar:add-circle-line-duotone"></span> Batch
        </button>

        <button mat-flat-button class="px-3 ms-2 add" (click)="navigateTo('/dashboard/master', null)">
          <mat-icon class="me-1">arrow_back</mat-icon> Back
        </button>
      </div>
    </div>
  </div>
  <div class="col-12 p-0">
    <table class="table table-hover bg-light mb-0">
      <!-- <colgroup>
        <col style="width: 5%" />
        <col style="width: 50%" />
        <col style="width: 15%" />
        <col style="width: 30%" />
      </colgroup> -->
      <thead>
        <tr>
          <th class="text-center">Sr No</th>
          <th class="text-center">Batch Name</th>
          <th class="text-center">Start Time</th>
          <th class="text-center">End Time</th>
          <th class="text-center">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="
            let item of blogs
              | paginate
                : {
                    itemsPerPage: pageSize,
                    currentPage: page,
                    totalItems: collection
                  };
            let i = index
          ">
          <td class="text-center">{{ pageSize * (page - 1) + (i + 1) }}</td>
          <td class="text-center">{{ item?.courseName }}</td>
          <td class="text-center">{{ item?.description }}</td>
          <td class="text-center">{{ item?.durationInMonths }}</td>

          <td class="text-center">
            <div class="example-button-container">
              <button mat-fab matTooltip="Edit Batch" matTooltipPosition="above" class="mx-2 action-btn"
                (click)="navigateTo('/dashboard/courses-form', item?.courseId)">
                <span class="iconify routeIcon" [attr.data-icon]="'solar:pen-2-broken'"></span>
              </button>

              <button mat-fab matTooltip="Delete Batch" matTooltipPosition="above" class="mx-2 action-btn"
                (click)="deletBatch(item?.courseId)">
                <span class="iconify routeIcon" matListItemIcon
                  [attr.data-icon]="'solar:trash-bin-minimalistic-2-broken'"></span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-12 bg-white rounded-top p-y-15 border-bottom">
       <app-custom-pagination
      [pageSize]="pageSize"
      [pageIndex]="page"
      [collection]="collection"
      [pageLimitOptions]="pageLimitOptions"
      (pageSizeChange)="onPageSizeChange($event)"
      (pageChange)="onPageChange($event)"
      (pageIndexChange)="page = $event"
    ></app-custom-pagination>
      </div>
    </div>
