* {
    margin: 0;
    padding: 0;
  }
  .upload-container {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #fff;
  }
  
  .upload-box {
    width: 100%;
    border: 2px dashed #ededed;
    background: #fff;
    text-align: center;
    padding: 40px;
    border-radius: 10px;
    cursor: pointer;
    transition: border-color 0.3s ease;
  }
  
  .upload-box.drag-over {
    background: #fef3c7;
    border-color: var(--mat-sys-primary);
  }
  
  .upload-icon {
    width: 50px;
    height: 50px;
    margin-bottom: 15px;
  }
  
  .upload-text {
    font-size: 18px;
    color: #374151;
    margin-top: 1rem;
  }
  
  .browse-text {
    color: var(--mat-sys-primary);
    cursor: pointer;
  }
  
  .upload-info {
    font-size: 14px;
    color: #6b7280;
    margin-top: 10px;
  }
  
  .preview {
    margin-top: 10px;
    font-size: 14px;
    color: #374151;
  }
  .mat-mdc-list-item-icon {
    font-size: var(--mdc-list-list-item-leading-icon-size, 40px);
  }
  .form-label {
    margin-bottom: 0.75rem;
  }
  .form-control {
    padding: 0.5rem 1rem;
    &:focus {
      box-shadow: none;
      border: 2px solid var(--mat-sys-primary);
    }
  }
  ::ng-deep .ql-container {
    min-height: 150px !important; /* Ensures the height is applied */
    overflow-y: auto; /* Enables scrolling if content exceeds height */
  }
  