<div class="row bg-white">
  <div class="col-12 rounded-top p-x-20 p-y-15 border-bottom">
    <div class="row align-items-center">
      <div class="col-6">
        <p class="m-0 fw-bold"> {{ id ? "Edit" : "Add" }} Blogs</p>
      </div>
      <div class="col-6 text-end">
        <button mat-flat-button (click)="navigateTo('/dashboard/blog-list')">
          <mat-icon class="me-1">arrow_back</mat-icon> Back
        </button>
      </div>
    </div>
  </div>

  <div class="col-12 p-x-20 pt-3 bg-white">
    <form>
      <div class="row p-0">
        <div class="col-12 mb-4">
          <label class="form-label">Blog Title <span class="text-danger" >*</span> </label>
          <input
            type="text"
            class="form-control"
            placeholder="Title"
            [(ngModel)]="blogTitle"
            [ngModelOptions]="{ standalone: true }"
          />
        </div>

        <div class="col-12">
          <label class="form-label d-flex justify-content-between"> <p>Blog Description  <span class="text-danger" >*</span></p>  <button mat-flat-button class="px-3" (click)="toggleHtmlMode()">Toggle {{!htmlMode ?'HTML':'Editor'}} Mode</button></label>
          
          <quill-editor
          *ngIf="!htmlMode"
            class="w-100"
            [(ngModel)]="content"
            [ngModelOptions]="{ standalone: true }"
          
          ></quill-editor>
          <textarea *ngIf="htmlMode" [(ngModel)]="content"  [ngModelOptions]="{ standalone: true }" rows="25" style="width: 100%;padding:14px"></textarea>

        </div>
        <div class="col-12 col-md-12 col-lg-6">
          <div class="upload-container py-3">
            <div class="upload-box">
              <span
                class="iconify routeIcon"
                matListItemIcon
                [attr.data-icon]="'solar:cloud-upload-line-duotone'"
              ></span>
              <p class="upload-text">
                <strong
                  >Drop your blog image here, or
                  <span class="browse-text">click to browse</span>
                </strong>
              </p>
              <p class="upload-info">
                1900 x 1080 (4:3) recommended. PNG, JPG, and GIF files are
                allowed.
              </p>

              <input
                id="file"
                class="form-control mt-3"
                accept=".png, .jpg, .jpeg"
                type="file"
                [multiple]="false"
                (change)="fileChosen($event)"
              />
            </div>
          </div>
        </div>
        <div *ngIf="url" class="col-12 col-md-12 col-lg-4 ps-0 mx-3 py-3">
          <img class="w-100 new-img" [src]="url" alt="image" />
        </div>
      </div>
    </form>
  </div>

  <div class="col-12 bg-white rounded-top p-y-15 border-bottom">
    <div class="row align-items-center justify-content-center">
      <div class="col-8 col-md-6 col-lg-3 text-center">
        <button class="w-100" mat-flat-button (click)="submit()">
          {{ id ? "Update" : "Submit" }}
        </button>
      </div>
    </div>
  </div>
</div>
