<div class="row px-4">
  <div class="col-12 bg-white rounded-top p-y-15 border-bottom">
        <p class="m-0 fw-bold">All Admission List</p>

    <div class="row mt-3 align-items-center">
      <div class="col-6 text-start mb-2">
        <input
          type="text"
          class="form-control w-75 ms-1"
          placeholder="Search"
          [(ngModel)]="searchText"
          (ngModelChange)="onSearchInputChange($event)"
        />
      </div>
      <div class="col-6 text-end">
        <button
          mat-flat-button
          class="px-3 add"
          (click)="navigateTo('/dashboard/admission-form', null)"
        >
          <span class="iconify routeIcon" matListItemIcon data-icon="solar:add-circle-line-duotone"></span> Admission
        </button>

        <button mat-flat-button class="px-3 ms-2 add" (click)="navigateTo('/dashboard/student', null)">
         <mat-icon class="me-1">arrow_back</mat-icon> Back
        </button>
      </div>
    </div>
  </div>
  <div class="col-12 p-0">
    <table class="table table-hover bg-light mb-0">
      <!-- <colgroup>
        <col style="width: 5%" />
        <col style="width: 15%" />
        <col style="width: 50%" />
        <col style="width: 30%" />
      </colgroup> -->
      <thead>
        <tr>
          <th class="text-center">Sr.No</th>
          <th class="text-center">Enquiry</th>
          <th class="text-center">Date</th>
          <th class="text-center">Course</th>
          <th class="text-center">Payment</th>
          <th class="text-center">Actual Fees</th>
          <th class="text-center">Remaining Fees</th>
          <th class="text-center">Action</th>

        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="
            let item of blogs
              | paginate : { itemsPerPage: pageSize, currentPage: page,totalItems:collection  };
            let i = index
          "
        >
          <td class="text-center">{{ pageSize * (page - 1) + (i + 1) }}</td>
          <td class="text-center">{{ item?.name }}</td>
          <td class="text-center">{{ item?.email }}</td>
          <td class="text-center">{{ item?.mobile }}</td>
          <td class="text-center">{{ item?.college }}</td>
          <td class="text-center">{{ item?.enquryfor }}</td>
         

          <td class="text-center">
            <div class="example-button-container">
              <button
                mat-fab
                class="mx-3 action-btn"
                (click)="navigateTo('/dashboard/enquiry-form', item?._id)"
              >
                <span
                  class="iconify routeIcon"
                  matListItemIcon
                  [attr.data-icon]="'solar:eye-bold'"
                ></span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-12 bg-white rounded-top p-y-15 border-bottom">
      <app-custom-pagination
      [pageSize]="pageSize"
      [pageIndex]="page"
      [collection]="collection"
      [pageLimitOptions]="pageLimitOptions"
      (pageSizeChange)="onPageSizeChange($event)"
      (pageChange)="onPageChange($event)"
      (pageIndexChange)="page = $event"
    ></app-custom-pagination>
      </div>
    </div>
