<div class="row px-4">
  <div class="col-12 bg-white rounded-top p-y-15 border-bottom">
    <div class="row align-items-center">
      <div class="col-6">
        <p class="m-0 fw-bold">All Blogs List</p>
      </div>
      <div class="col-6 text-end">
        <button mat-flat-button (click)="navigateTo('/dashboard/blog-add',null)">Add Blog</button>
      </div>
    </div>
  </div>
  <div class="col-12 p-0">
    <table class="table table-hover bg-light mb-0">
        <colgroup>
            <col style="width: 5%">
            <col style="width: 15%">
            <col style="width: 50%">
            <!-- <col style="width: 30%"> -->
            <col style="width: 30%">
          </colgroup>
      <thead>
        <tr>
          <th></th>
          <th>Image</th>
          <th>Title</th>
          <!-- <th>Content</th> -->
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="
            let item of blogs
              | paginate : { itemsPerPage: pageSize, currentPage: page,totalItems:collection };
            let i = index
          "
        >
          <td class="text-center">{{ pageSize * (page - 1) + (i + 1) }}</td>
          <td> <img [src]="item?.image" height="30" width="70"> </td>
          <td>{{item?.title}}</td>
          <!-- <td>{{item?.content}}</td> -->
          <td>
            <div class="example-button-container">
              <!-- <button
                mat-fab 
                class="action-btn"
                (click)="navigateTo('/dashboard/blog-add',item?._id)"
              >
                <span
                  class="iconify routeIcon"
                  matListItemIcon
                  [attr.data-icon]="'solar:eye-broken'"
                ></span>
              </button> -->
              <button
                mat-fab 
                class="mx-3 action-btn"
                (click)="navigateTo('/dashboard/blog-add',item?._id)"
              >
                <span
                  class="iconify routeIcon"
                  matListItemIcon
                  [attr.data-icon]="'solar:pen-2-broken'"
                ></span>
              </button>
              <button
                mat-fab 
                class="action-btn"
                (click)="deleteBlog(item?._id)"
              >
                <span
                  class="iconify routeIcon"
                  matListItemIcon
                  [attr.data-icon]="'solar:trash-bin-minimalistic-2-broken'"
                ></span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-12 bg-white rounded-top p-y-15 border-bottom">
    <div class="row align-items-center justify-content-end">
      <div class="col-6 text-end">
        <pagination-controls (pageChange)="handlePageChange($event)"></pagination-controls>
      </div>
    </div>
  </div>
</div>
