.table{
    thead tr th{
         padding: .75rem 0;
         color: #5d7186;
         background-color: transparent;
         text-align: center;
     }
     td{
         text-align: center;
         padding: 1rem 0;
         color: #5d7186;
     }
 }