<div class="modal-body">
  <div class="custom_toastcontainer">
    <div class="custom_toastcell">
      <ng-container [ngSwitch]="message?.severity">
        <ng-template [ngSwitchCase]="status.SUCCESS">
          <div class="custom_toast toast--green">
            <div class="custom_toastcontent">
              <div class="custom_toasticon">
                <span class="material-symbols-outlined">check_circle</span>
              </div>
              <p class="custom_toasttype">Success</p>
              <p class="custom_toastmessage">{{ message.message }}</p>
            </div>
            <div
              class="custom_toastclose"
              type="button"
              (click)="snackBarRef.dismiss()"
            >
              <i class="fas fa-times"></i>
            </div>
          </div>
        </ng-template>

        <ng-template [ngSwitchCase]="status.INFO">
          <div class="custom_toast toast--blue add-margin">
            <div class="custom_toastcontent">
              <div class="custom_toasticon">
                <span class="material-symbols-outlined">info</span>
              </div>
              <p class="custom_toasttype">Info</p>
              <p class="custom_toastmessage">{{ message.message }}</p>
            </div>
            <div
              class="custom_toastclose"
              type="button"
              (click)="snackBarRef.dismiss()"
            >
              <i class="fas fa-times"></i>
            </div>
          </div>
        </ng-template>

        <ng-template [ngSwitchCase]="status.WARNING">
          <div class="custom_toast toast--yellow add-margin">
            <div class="custom_toastcontent">
              <div class="custom_toasticon">
                <span class="material-symbols-outlined">warning</span>
              </div>
              <p class="custom_toasttype">Warning</p>
              <p class="custom_toastmessage">{{ message.message }}</p>
            </div>
            <div
              class="custom_toastclose"
              type="button"
              (click)="snackBarRef.dismiss()"
            >
              <i class="fas fa-times"></i>
            </div>
          </div>
        </ng-template>

        <ng-template [ngSwitchCase]="status.FAIL">
          <div class="custom_toast toast--red add-margin">
            <div class="custom_toastcontent">
              <div class="custom_toasticon">
                <span class="material-symbols-outlined">error</span>
              </div>
              <p class="custom_toasttype">Error</p>
              <p class="custom_toastmessage">{{ message.message }}</p>
            </div>
            <div
              class="custom_toastclose"
              type="button"
              (click)="snackBarRef.dismiss()"
            >
              <i class="fas fa-times"></i>
            </div>
          </div>
        </ng-template>
      </ng-container>
    </div>
  </div>
</div>
