.custom_toastcell {
  display: inline-block;
}

.add-margin {
  margin-top: 20px;
}

.custom_toast {
  text-align: left;
  padding: 15px 0;
  background-color: #fff;
  border-radius: 4px;
  min-width: 350px;
  top: 0px;
  position: relative;
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.2);

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 4px;
    height: 100%;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
  }
}

.custom_toasttype {
  color: #616161;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 8px;
}

.custom_toastmessage {
  font-size: 14px;
  margin-top: 0;
  margin-bottom: 0;
  color: #616161;
}

.custom_toastcontent {
  padding-left: 70px;
  padding-right: 60px;
}

.custom_toastclose {
  position: absolute;
  right: 22px;
  top: 50%;
  width: 14px;
  cursor: pointer;
  height: 14px;
  color: #616161;
  transform: translateY(-50%);
}

.custom_toasticon {
  position: absolute;
  top: 50%;
  left: 22px;
  transform: translateY(-50%);
  width: auto;
  height: auto;
  padding: 7px;
  border-radius: 50%;
  display: inline-block;
  font-size: 19px;
}

.toast--green {
  .custom_toasticon {
    color: #4caf50;
  }

  &:before {
    background-color: #4caf50;
  }
}

.toast--blue {
  .custom_toasticon {
    color: #3a7e91;
  }

  &:before {
    background-color: #3a7e91;
  }
}

.toast--yellow {
  .custom_toasticon {
    color: #f9bb06;
  }

  &:before {
    background-color: #f9bb06;
  }
}

.toast--red {
  .custom_toasticon {
    color: #db9581;
  }

  &:before {
    background-color: #db9581;
  }
}

.mat-snack-bar-container {
  background: none;
  box-shadow: none;
  padding: 0px;
  margin-bottom: 45px;
}
