<div class="row justify-content-center">
  <div
    class="col-md-3 col-sm-4 col-6 col-xs-6 mt-3"
    *ngFor="let card of cards"
  >
    <div class="teacher-card-container">
      <div
        class="card"
        [ngClass]="card.styleClass"
        (click)="navigateTo(card.route)"
      >
        <div class="card-body">
          <div class="teacher-icon">
            <i [class]="card.icon"></i>
          </div>
          <h3>{{ card.title }}</h3>
        </div>
      </div>
    </div>
  </div>
</div>