@use "bootstrap/scss/bootstrap";
@import "quill/dist/quill.snow.css";
@import "quill/dist/quill.bubble.css";
// @import "ngx-toastr/toastr-bs5";
@import "node_modules/ngx-spinner/animations/ball-scale-multiple.css";

// @import "~@ng-select/ng-select/themes/material.theme.css";
// ... or 
// @import "~@ng-select/ng-select/themes/material.theme.css";

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.form-control:focus {
  box-shadow: none !important;
  outline: none !important;
}

.ng-scroll-viewport{
background-color: #ffffda !important;
}

.table {
  thead tr th {
    padding: 1rem;
    // color: #5d7186;
    color: #444;
    // background-color: transparent;
    background-color: #c8e5ff;
    text-align: center;
  }

  td {
    // text-align: center;
    padding: 1rem;
    color: #5d7186;
  }
}

pagination-controls ul {
  padding-inline-start: 0px;
  margin: 0 !important;
}

pagination-controls ul li {
  font-size: 12px;
  border-radius: 10px !important;
}

pagination-controls ul li a {
  border-radius: 10px !important;
  text-decoration: none !important;
}

pagination-controls ul li a:hover {
  background: #e4ebf0 !important;
}

pagination-controls ul li.current {
  background-color: var(--mat-sys-primary-fixed-dim) !important;
  color: #111 !important;
}

pagination-controls ul li.disabled {
  opacity: 0.5;
  cursor: not-allowed !important;
}

.action-btn {
  width: 44px !important;
  height: 33px !important;
  padding: 5.5px 12px !important;
  border-radius: 0.5rem !important;
  background-color: var(--mat-sys-primary-fixed-dim) !important;

  span {
    .mat-mdc-list-item-icon {
      font-size: var(--mdc-list-list-item-leading-icon-size, 16px);
    }
  }
}

.ql-editor {
  min-height: 150px;
}

.mat-mdc-snackbar-surface {
  background: transparent !important;
  box-shadow: none !important;
}


.add {
  background: none !important;
  color: rgb(52, 152, 219) !important;
  border: 2px solid rgb(52, 152, 219) !important;
}