<div class="row bg-white">
  <div class="col-12 rounded-top p-x-20 p-y-15 border-bottom">
    <div class="row align-items-center">
      <div class="col-6">
        <p class="m-0 fw-bold">{{ id ? "Edit" : "Add" }} Plan</p>
      </div>
      <div class="col-6 text-end">
        <button mat-flat-button (click)="navigateTo('/dashboard/plan-list')">
         <mat-icon class="me-1">arrow_back</mat-icon> Back
        </button>
      </div>
    </div>
  </div>

  <div class="col-12 p-x-20 pt-3 bg-white">
    <form [formGroup]="form">
      <div class="row p-0">
        <div class="col-6 mb-4">
          <label class="form-label">Plan Name</label>
          <input
            type="text"
            class="form-control"
            placeholder="Plan Name"
            formControlName="planName"
          />
        </div>
        <div class="col-6 mb-4">
          <label class="form-label">Plan Type</label>

          <ng-select
            [items]="plans"
            bindLabel="name"
            bindValue="value"
            formControlName="planType"
            [clearable]="false"
            [multiple]="false"
            placeholder="Select Plan Type"
          >
          </ng-select>
        </div>
        <div class="col-6 mb-4">
          <label class="form-label">Credits</label>
          <input
            type="number"
            class="form-control"
            placeholder="Credits"
            formControlName="credits"
          />
        </div>
        <div class="col-6 mb-4">
          <label class="form-label">Cost</label>
          <input
            type="number"
            class="form-control"
            placeholder="Cost"
            formControlName="cost"
          />
        </div>
        <div class="col-6 mb-4">
          <label class="form-label">Credit Expiry</label>
          <input
            type="number"
            class="form-control"
            placeholder="Credit Expiry"
            formControlName="creditExpiry"
          />
        </div>

        
        <div class="col-6 mb-4">
          <label class="form-label">Status</label>

          <ng-select
            [items]="status"
            bindLabel="name"
            bindValue="value"
            formControlName="status"
            [clearable]="false"
            [multiple]="false"
            placeholder="Select Status"
          >
          </ng-select>
        </div>

        <!-- <div formArrayName="planDescription"  class="col-6 mb-4">
          <label class="form-label">Plan Description</label>
          <input
            type="number"
            class="form-control"
            placeholder="Plan Description" 
          />
        </div> -->
      
      </div>
      <div formArrayName="planDescription" class="row">
        <div  *ngFor="let p of planDescription.controls;let i = index" class="input-group col-6 mb-4">
          <input
            type="text"
            class="form-control"
            placeholder="Plan Description" 
            [formControlName]="i"
          /> <span (click)="removePlanDescription(i)" class="input-group-text cp bg-danger text-white">-</span>
          <span (click)="addPlanDescription()" class="input-group-text cp bg-success text-white">+</span>
        </div>
      </div>
    </form>
  </div>

  <div class="col-12 bg-white rounded-top p-y-15 border-bottom">
    <div class="row align-items-center justify-content-center">
      <div class="col-8 col-md-6 col-lg-3 text-center">
        <button class="w-100" mat-flat-button
        (click)="submit()"
        >
          {{ id ? "Update" : "Submit" }}
        </button>
      </div>
    </div>
  </div>
</div>
