@use "../variables" as *;

html .topbar {
  position: sticky;
  top: 0;
  z-index: 9;
  height: $header-height;
  background-color: var(--mat-sys-background);
  margin: 0;

  i-tabler {
    stroke-width: 1.5px;
  }
}

.topbar-dd {
  min-width: 200px !important;
}

.text-hover-primary:hover {
  .hover-text {
    color: $primary;
  }
}

.object-cover {
  object-fit: cover;
}
.page-title{
  h1{
    color: #5d7186 !important;
    font-weight: 700 !important;
  }
}