<div class="row px-4">
  <div class="col-12 bg-white rounded-top p-y-15 border-bottom">
    <div class="row align-items-center">
      <div class="col-3">
        <input (input)="handleSearchInputChange()" [(ngModel)]="search" type="text" class="form-control" placeholder="Search">
      </div>
    </div>
  </div>
  <div class="col-12 p-0">
    <table class="table table-hover bg-light mb-0">
       
      <thead>
        <tr>
          <th>User</th>
          <th>Message</th>
          <th>Timestamp</th>
          <th>Operation</th>
          <th>API Endpoint</th>

        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="
            let item of blogs
              | paginate : { itemsPerPage: pageSize, currentPage: page,totalItems:collection  };
            let i = index
          "
        >
          <td>{{ item?.email }}</td>
          <td>{{ item?.message }}</td>
          <td>{{ item?.createdAt | date:'medium' }}</td>
          <td>{{ item?.operation }}</td>
          <td>{{ item?.endpoint }}</td>

 
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-12 bg-white rounded-top p-y-15 border-bottom">
    <div class="row align-items-center justify-content-end">
      <div class="col-6 text-end">
        <pagination-controls (pageChange)="handlePageChange($event)"></pagination-controls>
      </div>
    </div>
  </div>
</div>
